name: Test Container
on:
  push:
    branches:
      - "**"
    paths:
      - ".github/workflows/test-container.yml"
  workflow_dispatch:

permissions:
  contents: read
  actions: write

env:
  DEBIAN_FRONTEND: noninteractive

jobs:
  install-latest-toolchains:
    runs-on: ubuntu-latest
    steps:
      - run: |
          sudo tee /etc/apt/sources.list > /dev/null <<EOF
          deb https://archive.ubuntu.com/ubuntu/ devel main restricted universe multiverse
          # deb-src https://archive.ubuntu.com/ubuntu/ devel main restricted universe multiverse

          deb https://archive.ubuntu.com/ubuntu/ devel-updates main restricted universe multiverse
          # deb-src https://archive.ubuntu.com/ubuntu/ devel-updates main restricted universe multiverse

          deb https://archive.ubuntu.com/ubuntu/ devel-backports main restricted universe multiverse
          # deb-src https://archive.ubuntu.com/ubuntu/ devel-backports main restricted universe multiverse

          deb https://archive.ubuntu.com/ubuntu/ devel-security main restricted universe multiverse
          # deb-src https://archive.ubuntu.com/ubuntu/ devel-security main restricted universe multiverse

          deb https://archive.ubuntu.com/ubuntu/ devel-proposed main restricted universe multiverse
          # deb-src https://archive.ubuntu.com/ubuntu/ devel-proposed main restricted universe multiverse
          EOF
      - run: |
          sudo add-apt-repository ppa:apt-fast/stable
          sudo apt-get update -qq && sudo apt-get install -qqy -o Dpkg::Use-Pty=0 apt-fast
          sudo apt-fast install -qy -o Dpkg::Use-Pty=0 gcc g++ clang
          echo "=================================="
          ls -lL --time-style=full-iso /usr/bin/gcc
          gcc --version
          echo "=================================="
          ls -lL --time-style=full-iso /usr/bin/g++
          g++ --version
          echo "=================================="
          ls -lL --time-style=full-iso /usr/bin/clang
          clang --version

  upload-multiple-artifacts-at-once:
    runs-on: ubuntu-latest
    container: ubuntu:devel
    steps:
      - name: Create test artifacts
        run: |
          echo "Hello, world!" > hello_1.txt
          echo "Hello, world!" > hello_2.txt
          echo "Hello, world!" > hello_3.txt
      - uses: llvm-latest/github-script-with-artifact@main
        with:
          script: |
            const fs = require('fs');
            const files = fs.readdirSync('.').filter(file => file.endsWith('.txt'));
            for (const file of files) {
                console.log(`>>> Uploading ${file}...`);
                const uploadResponse = await artifact.uploadArtifact(
                    file,   // Name
                    [file], // Files
                    '.',    // Root Directory
                    { compressionLevel: 0 }
                );
                console.log(`>>> Uploaded ${file} - ID: ${uploadResponse.id}`);
            }

  linux-cross-aarch64:
    runs-on: ubuntu-latest
    container:
      image: ubuntu:devel
      options: --privileged
    steps:
      - name: Install Docker
        run: |
          apt-get update -qq && apt-get install -qqy docker.io
      - name: Setup QEMU
        uses: docker/setup-qemu-action@master
        with:
          image: tonistiigi/binfmt
          cache-image: false
      - uses: actions/checkout@v6
      - name: Test using the cross-built assembled toolchain
        run: |
          mount -t binfmt_misc none /proc/sys/fs/binfmt_misc
          echo "ls /proc/sys/fs/binfmt_misc"
          echo "=================================="
          ls /proc/sys/fs/binfmt_misc
          echo "=================================="

          apt-get install -qqy make curl zip unzip bzip2 xz-utils > /dev/null
          LINUX_AARCH64_MINGW="https://github.com/mstorsjo/llvm-mingw/releases/download/20260116/llvm-mingw-20260116-ucrt-ubuntu-22.04-aarch64.tar.xz"
          curl --retry 3 --retry-delay 5 --retry-all-errors -fSLO "$LINUX_AARCH64_MINGW"
          tar -Jxf llvm-mingw-*.tar.xz
          rm llvm-mingw-*.tar.xz
          mv llvm-mingw* /opt/llvm-mingw

          apt-get install -qqy qemu-user-static libc6-arm64-cross libstdc++6-arm64-cross > /dev/null
          QEMU_LD_PREFIX=/usr/aarch64-linux-gnu ./test-libcxx-module.sh /opt/llvm-mingw
          QEMU_LD_PREFIX=/usr/aarch64-linux-gnu ./run-tests.sh /opt/llvm-mingw
